* {
  box-sizing: border-box;
  font-family: monospace;
}
:root {
  --primary-color: #dec2a1;
  --secondary-color: #95b491;
  --accent-color: #861625;
  --highlight-color: #182416;
  --glow-spread-color: white;
  --tree-cookie-color: #6eb663;
}
/* <<>> */

body {
  position: absolute;
  background-size: cover;
  background-image: url(assets/Xmas.png);
  color: var(--primary-color);
  font-weight: bold;
}

h1 {
  font-size: 2vw;
  color: var(--primary-color);
  margin-left: 150px;
  justify-content: center;
}
em {
  font-size: 3vw;
  text-emphasis: triangle #6eb663;
}
p {
  font-size: 1.5vw;
  margin: 10px;
}

.upgradeOptions {
  font-size: 1vw;
  font-weight: bold;
  color: var(--highlight-color);
  display: grid;
  grid-template-columns: repeat(5, 90px);
  gap: 20px;
  padding: 6px;
  background-color: var(--secondary-color);
  margin-left: 150px;
  margin-right: 700px;
  margin-top: 10px;
  border-radius: 10px;
}

#grandma-btn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

#farm-btn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
#factory-btn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
button:active {
  transform: scale(0.9);
}

#reset-btn {
  color: white;
  font-weight: bold;
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 150px;
  cursor: pointer;
}

/*STYLE BOXES FOR COOKIE +2 COUNTERS*/
.container {
  display: flex;
  width: 50vw;
  gap: 0px;
  margin-left: 150px;
}
.box {
  display: flex;
  align-items: left;
  padding: 0px;
  font-size: 1vw;
}
/* I don't need a box-one*/
.box-two {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 20px;
}
.sub-box {
  display: flex;
}

/*Source: dev.to*/
/*Glow Button*/
.cookie-btn {
  border: 0.25em solid var(--primary-color);
  padding: 1.5em 1.5em;
  background-color: var(--btn-color);
  border-radius: 10em;
  box-shadow: 0 0 1em 0.25em var(--primary-color),
    0 0 3em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--primary-color);
  text-shadow: 0 0 0.5em var(--primary-color);
  position: relative;
  transition: all 0.3s;
}
button:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 1em 0.25em var(--primary-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--primary-color);
}
